@import url('https://fonts.googleapis.com/css?family=Mina:400,700');
$white: #D2D3D3;
$black: #212121;
$orange: #F27420;
$blue: #021521;
$blueExhange: #1B262D;
$grey: #1B262D;
$greyHard: #504f4f;
$gerIntense: #0c0c0c;
$red: #F95A62;
$green: #78C653;
$blueWrapper: #1B262D;

body {
  overflow-x: hidden;
  min-height: 100vh;
  background-color: $gerIntense;
  margin: 0;
  padding: 0;
  font-family: 'Mina', sans-serif;
}
.priceFont{
  font-size: 12px !important;
  color:#c9c5c5 !important;
}
.text-gray{
  color:$grey;
  font-size: 16px !important;
}
.cryptoicon{
  line-height: 1.09
}
#exchange-nav {
background-color: $grey !important;
padding: 0 20px;
height: 30px;
  a {
    color:$white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    &:hover{
      color:white;
    }
  }
}
.logo-menu {
    margin-bottom: 9px;
}
.exchange-field {
  background-color: $blueWrapper;
  border-radius: 5px;
  border: 1px solid #444;
  line-height: 1.2;
  span{
    color: $white;
    font-size:3.5rem;
  }
  .exchange-percent{
  font-size: 12px !important;
  }
  .market-ticker{
    font-size: 16px;
  }
  .market-vol{
   font-size: 12px;
   color:gray;

  }
  .titlle-tickers{
    color:$white;
    font-size: 0.9rem;
    margin-bottom: 0;
  }
  table {
    text-align: center;
    width: 98%;
    margin-left: 1%;
    background-color: #161c23;
    border-radius: 5px;
    tr {
      border-bottom: none;
    }

    th {
      padding: 1px 0;
      color: $white;
      font-weight: normal;
      font-size: 12px;
      border: none;
    }

    td {
      padding: 4px 0;
      color: $white;
      font-size: 12px;
      border: none;
    }
  }
}
