@import url("https://fonts.googleapis.com/css?family=Mina:400,700");
body {
  min-height: 100vh;
  background-color: #0c0c0c;
  margin: 0;
  padding: 0;
  font-family: 'Mina', sans-serif; }

#exchange-nav {
  background-color: #1B262D !important;
  padding: 0 20px;
  height: 30px; }
  #exchange-nav a {
    color: #D2D3D3;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold; }
    #exchange-nav a:hover {
      color: white; }

.logo-menu {
  margin-bottom: 9px; }

.exchange-field {
  background-color: #1B262D;
  border-radius: 5px;
  border: 1px solid #444;
  line-height: 1.2; }
  .exchange-field span {
    color: #D2D3D3;
    font-size: 3.5rem; }
  .exchange-field .exchange-percent {
    font-size: 12px; }
  .exchange-field .market-ticker {
    font-size: 16px; }
  .exchange-field .market-vol {
    font-size: 12px;
    font-weight: bolder; }
